/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------End of style reset ------------------ */

body {
	color: rgb(64, 64, 64);
	max-width: 800px;
	font-family: sans-serif;
	margin: 0 auto;
}
header {
	height: 50px;
	padding: 20px 10px;
}
.hamburger-button {
	display: none;
}
#logo {
	display: inline-block;
}
#container {
	background-color: #d9d9d9;
	padding: 10px 20px;
	line-height: 1.15;
}
#container h1 {
	font-size: 175%;
}
#container p {
	margin-bottom: 15px;
}
nav {
	background-color: rgb(64, 64, 64);
	color: #F2F2F2;	
	padding: 0;	
	list-style: none;
	text-align: center;
}
nav li {
	padding: 10px 5px 10px 5px;
	display: inline-block;
	margin: 0;	
}
nav li:hover {
	background-color: #111;
}
nav li.active {
    background-color: #4CAF50;
}
nav li.active:hover {
	background-color: #45a049;
}
nav a {
	text-decoration: none;
	color: #fff;
}
footer ul {
	padding: 0;	
	list-style: none;
	text-align: center;
}
footer li {
	padding: 10px 5px 10px 5px;
	display: inline-block;
	font-size: 85%;
}
footer li:hover {
	text-decoration: underline;
}
footer li.active {
    color: #4CAF50;
}
footer a {
	text-decoration: none;
	color: #404040;
}
/* Makes sure the nav bar gets turned back on */
@media (min-width: 769px) {
	#nav-bar {
		display: block !important;
	} 
}
@media (max-width:768px) {
	.hamburger-button {
	  position: fixed;		
	  right: 10px;
	  top: 35px;
	  z-index: 2;
	  display: block;
	  padding: 7px 7px;
	  background-color: transparent;
	  border: 0px;
	}
	.hamburger-button .horiz-bar {
	  display: block;
	  width: 30px;
	  height: 3px;
	  border-radius: 1px;
	  background-color: #d9d9d9;
	}
	/* Keeps the top bar from having a margin */
	.horiz-bar + .horiz-bar {
		margin-top: 6px;
	}
	nav {
		width: 300px;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
		background-color: rgba(64, 64, 64, 0.8);
		display: none;
	} 
	nav li {
		display: block;
	}
}
/*Coffee graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>*?
